.initContainer {
	display: grid;
	grid-template-columns: 10% 5% auto 5% 10%;
 	grid-template-rows: 15% auto 15%;
 	height: 100%;
 	width: 100%;
}

.playerA {
	grid-column-start: 3;
  	grid-column-end: 3;
  	grid-row-start: 3;
  	grid-row-end: 3;
  	display: flex;
	justify-content: center;
	align-items: center;
}

div.playerA > div {
	height: 70% !important;
}

.playerB {
	grid-column-start: 1;
  	grid-column-end: 1;
  	grid-row-start: 2;
  	grid-row-end: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.playerB > div {
	-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
	transform: rotate(270deg);
	height: 0px !important;
}

.playerC {
	grid-column-start: 3;
  	grid-column-end: 3;
  	grid-row-start: 1;
  	grid-row-end: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.playerC > div {
	height: 0px !important;
}

.playerD {
	grid-column-start: 5;
  	grid-column-end: 5;
  	grid-row-start: 2;
  	grid-row-end: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.playerD > div {
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
	transform: rotate(90deg);
	height: 0px !important;
}

.actionContainer {
	grid-column-start: 3;
  	grid-column-end: 3;
  	grid-row-start: 2;
  	grid-row-end: 2;
 	display: flex;
 	justify-content: center;
}

.actionChildContainer {
	margin: auto;
    position: relative;
    --width: 30em;
    width: var(--width);
    height: var(--width);
	background-repeat: no-repeat;
  	background-position: center;
  	background-size: auto 100%;
	background-image: url("../../../views/images/interfaceImages/jass_table.png");
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
 	grid-template-rows: 1fr 1fr 1fr;
}

.nextTrickButton {
	grid-column-start: 2;
  	grid-column-end: 2;
  	grid-row-start: 1;
  	grid-row-end: 1;
 	text-align: center;
}

.playerAcardSpot {
	grid-column-start: 2;
  	grid-column-end: 2;
  	grid-row-start: 3;
  	grid-row-end: 3;
 	justify-content: center;
 	display: none;
}

.playerBcardSpot {
	grid-column-start: 1;
  	grid-column-end: 1;
  	grid-row-start: 2;
  	grid-row-end: 2;
 	justify-content: flex-end;
 	align-items: center;
 	display: none;
}

div.playerBcardSpot > div {
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
	transform: rotate(90deg) !important;
}

.playerCcardSpot {
	grid-column-start: 2;
  	grid-column-end: 2;
  	grid-row-start: 1;
  	grid-row-end: 1;
 	flex-direction: column;
 	display: none;
 	text-align: center;
}

div.playerCcardSpot > div {
	margin-top: auto;
}

.playerDcardSpot {
	grid-column-start: 3;
  	grid-column-end: 3;
  	grid-row-start: 2;
  	grid-row-end: 2;
 	justify-content: flex-start;
 	align-items: center;
 	display: none;
}

div.playerDcardSpot > div {
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
	transform: rotate(90deg) !important;
}

