@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/**
This file contains the general and shared style of your application.
 */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background: #0e3d61;
}

input,
textarea,
select,
div,
button {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  outline: none;
}

*:focus {
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

@font-face {
  font-family: "Bungee Inline";
  src: local("Bungee Inline"),
  url("./fonts/BungeeInline-Regular.ttf") format("truetype");
  font-weight: bold;
}

