.friends-container {
  float: right;
  margin-right: 5%;
  padding: 5%;
  padding-top: 0
}

.dropbtn {
  padding: 6px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  width: 400px;
  border: 1px solid black;
  border-radius: 5px;
  background: #7F8385;
  transition: all 0.3s ease;
}

.dropbtn:hover {
  background-color: #A5A9AB;
}

#search {
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  padding: 14px 20px 12px 14px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#search:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f6f6f6;
  width: 100%;
  overflow: scroll;
  max-height: 600px;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
}

.dropdown a:hover {
    background-color: #ddd; 
    cursor: pointer;
}

.show {display: none;}

.circle-red {
    background: #f00;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.circle-green {
    background: green;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.float-child-1 {
    margin-right: 20px;
    margin: 8px;
}

nav.react-contextmenu {
    position: fixed;
    width: 200px;
    left: 0;
    top: calc(100% + 10px);
    border-radius: 4px;
    background-color: #fff;
    padding: 10px 0;
    z-index: 99;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
}
.react-contextmenu .react-contextmenu-item:hover{
  background: #cccccc;
}

.react-contextmenu-item:hover:not(.react-contextmenu-item--disabled) {
  background-color: #f1f1f1;
}

.react-contextmenu .react-contextmenu-item{
  font-size: 14px;
  display: block;
  text-decoration: none;
  padding: 10px 15px;
  cursor: pointer;
  user-select: none;
  transition: .2s;
  position: relative;
  margin-bottom: 2px;
  font-weight: 500;
  display: flex;
  align-items: center;
  outline: none;
}
.react-contextmenu-item span{
  margin-left: 10px;
}
.react-contextmenu-item svg{
  font-size: 14px;
}

.friend-request-button {
    width: 30px !important; 
    margin-right: 10px
}

.friend-request-container {
    align-items: center;
    background-color: #D3D3D3;
    text-decoration: none !important;
}